<form hx-post="<%= scopes_path %>" hx-target="#scope">
  <input type="text" name="keycloak_resource_id" hidden="hidden" value="<%= @keycloak_resource_id %>">
  <input type="text" name="keycloak_scope_name" hidden="hidden" value="<%= @keycloak_scope_name %>">
  <button type="Submit">Create Scope <%=  @keycloak_scope_name %></button>
</form>
