<form hx-post="<%= resources_path %>">
  <input type="text" name="route_id" hidden="hidden" value="<%= @route.defaults[:controller] %>">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded" type="Submit">Create Resource?</button>
</form>