<% if @keycloak_resource %>
  <table class="table-auto">
    <thead>
    <tr>
      <th>Controller</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= @keycloak_resource.name %></td>
    </tr>
    </tbody>
  </table>
<% else %>
  <div hx-get="<%= new_resource_path(route_id: @route.name) %>" hx-trigger="load" ></div>
<% end %>